@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#header {
  padding-top: -60;
  margin-top: -20px;
}

.header-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  animation-name: fadeIn;
  animation-duration: 1000s;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 900px;
  box-sizing: border-box;
}

body {
  background-color: #333B50;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container {
  padding: 10px 10%;
}



.header-text {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  animation-name: fadeIn;
  animation-duration: 9s;

}




.header-text h1 {
  font-size: 100px;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  color: white;
  letter-spacing: 1px;
  line-height: 1.2;
}


.header-text p {
  margin-top: 50px;
  top: 80%;
  font-size: 20px;
  color: white;
  font-style: normal;
  font-weight: 800;

}

.header-text h1 span {
  color: #ff7700;
}

/* about */
#about {
  margin-top: 2000px;
  padding: 100px 0;
  top: 200px;

}

.big-box {

  border: 1px solid #b82121;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 800px;
  margin: 20px auto;
  text-align: center;
}


.about-col-2 {
  flex: 1;

}

.about-col-2 h1 {
  font-size: 56px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;

}

.about-col-2 p {
  font-size: 20px;
  color: white;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;

}

.about-box {
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  width: 80%;
  max-width: 800px;
  border-radius: 20px;
  padding: 50px;
  /* border: 2px solid rgb(255, 255, 255); */
  z-index: 1;
}

.about-box-2 {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  border-width: 800px;
  padding: 20px 50px 100px 50px;
  /* top, right, bottom, left */
  /* background-color:#565a62; */
  border: 2px solid #ffffff;
  z-index: 1;
}

.about-col-2 span {
  color: #ff7700;
  font-weight: bold;
}

.tab-titles {
  margin-top: 90px;
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {

  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;

}

.tab-links::after {

  content: '';
  width: 0;
  height: 3px;
  background: #ff7700;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;


}

.tab-links.active-link::after {
  width: 100%;
}

/* image */

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}



.tab-contents ul li {
  font-style: lighter;
  list-style: none;
  margin: 5px 0;
  color: white;
  font-size: 12px;
  font-weight: lighter;
}

.tab-contents ul li span {
  color: #ff7700;
  font-size: 18px;
  /* font-weight: lighter; */
  font-weight: 500;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}


/* services */
#services {
  margin-top: 2000px;
  padding: 100px 0;
  border-radius: 20px;

}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;

  margin: auto;
  transition: all 0.4s ease-out;
}





.services-col-2 {
  flex: 1;

}

.services-col-2 h1 {
  font-size: 56px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;

}

.services-list i {
  color: #ff7700;
  position: relative;
  top: 90px;
  left: 90px;
}

.services-list i1 {
  color: #ffffff;
  position: relative;
  top: 90px;
  left: 20px;
}




.services-list i3 {
  color: #ffffff;
  position: relative;
  top: 90px;
  left: 130px;
}

.services-list i4 {
  color: #ff7700;
  position: relative;
  top: 110px;
  left: 130px;
}

.services-list div:hover {
  background-color: #ffa658;
  /* transform: translateY(-10px); */
  color: #333B50;
  transform: translateY(-3px) scale(1.1);
}


.about-col-2 p {
  font-size: 20px;
  color: white;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;

}

.services-list div {
  /* background-color: #ffffff; */
  border: 1px solid #ff7700;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  margin: auto;
}

.services-list div h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.services-list div p {
  font-size: 16px;
  margin-bottom: 20px;
}

.services-list div a {
  color: #333B50;
  background-color: #ff7700;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  display: inline-block;

}

.services-list a:hover {
  color: #333B50;
}


.services-box {
  position: absolute;
  margin-top: 500px;
  top: 800px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  width: 80%;
  max-width: 800px;
  padding: 50px;
  /* border: 2px solid rgb(255, 255, 255); */
  z-index: 1;
  border-radius: 20px;
  border-bottom: 90px;
}

/* Portfolio box */

.portfolio-box {
  position: absolute;
  margin-top: 1300px;
  top: 800px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  width: 80%;
  max-width: 800px;
  padding: 50px;
  /* border: 2px solid rgb(255, 255, 255); */
  z-index: 1;
  border-radius: 20px;
  height: 700px;
  border-bottom: 90px;
  margin-bottom: 150px;
}

.contact-box {
  position: absolute;
  margin-top: 2150px;
  top: 800px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  width: 80%;
  max-width: 800px;
  padding: 50px;
  /* border: 2px solid rgb(255, 255, 255); */
  z-index: 1;
  border-radius: 20px;
  height: 700px;
}

.contact-box h1 {
  font-size: 56px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  color: white;
  text-align: center;
}

.portfolio-box h1 {
  font-size: 56px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  color: white;
  text-align: center;
}

.gallery-box {
  position: absolute;
  margin-top: 10px;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 800px;
  padding: 50px;
  /* border: 2px solid rgb(255, 255, 255); */
  z-index: 1;
  border-radius: 20px;
  height: 900px;
}


.gallery-box h1 {
  font-size: 40px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  color: white;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center;
  /* Add this property to center the text horizontally */
  display: flex;
  /* Add this property to center the text vertically */
  justify-content: center;
  /* Add this property to center the text vertically */
  align-items: center;
  /* Add this property to center the text vertically */
  margin-bottom: 40px;
  left: 30px;
}


/* contact form */


.contact-box {
  display: flex;
  flex-wrap: column;
  height: 185px;
}


.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  font-size: 50px;
  color: #212427;
  margin: 10px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.social-icons a:hover {
  color: #ff7700;
  transform: translateY(-5px);
}

.contact-box h1 {
  text-align: center;
  margin-right: 50px;
}

@media only screen and (max-width: 767px) {
  /* Mobile-specific styles go here */
  #header {
    margin-top: 10px; /* Adjusted margin-top for better visibility on mobile */

  }
  .header-text h1 {
    font-size: 60px;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: white;
    letter-spacing: 1px;
    line-height: 1.2;
  }

  .tab-titles {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between elements */
    margin-bottom: 10px; /* Adds some spacing at the bottom */
  }
  .tab-links {

    margin-right: 15px;
    right: 10px;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    position: relative;

  
  }
  
  /* Add any other desired styling for the active link */
  .active-link {
    font-weight: bold;
  }

  .about-box {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    width: 80%;
    max-width: 800px;
    border-radius: 20px;
    padding: 40px;
    /* border: 2px solid rgb(255, 255, 255); */
    z-index: 10;
  }

  .about-box-2{
    position: relative;
    z-index: 1;
  }
  .portfolio-box {
    position: absolute;
    margin-top: 1850px;
    top: 800px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    width: 80%;
    max-width: 800px;
    padding: 40px;
    /* border: 2px solid rgb(255, 255, 255); */
    z-index: 1;
    border-radius: 20px;
    height: 1340px;
    border-bottom: 90px;
    margin-bottom: 150px;
  }

  .contact-box {
    display: flex;
    flex-wrap: column;
    top: 1900px;
    height: 135px;


  }

  .social-icons a {
    font-size: 40px;
    color: #212427;
    margin: 10px;
    left: -80px;
    bottom: 20px;
    text-align: center;
    justify-content: left;
    position: relative;
  }

  .contact-box h1 {
    font-size: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: white;
  }

  .services-list i {
    color: #ff7700;
    position: relative;
    top: 130px;
    left: 30px;
  }
  
  .services-list i1 {
    color: #ffffff;
    position: relative;
    top: 110px;
    left: 110px;
  }
  
  .services-list i3 {
    color: #ffffff;
    position: relative;
    top: 110px;
    left: 30px;
  }
  
  .services-list i4 {
    color: #ff7700;
    position: relative;
    top: 130px;
    left: 60px;
  }

  .gallery-box {
    position: absolute;
    margin-top: 10px;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 800px;
    padding: 50px;
    /* border: 2px solid rgb(255, 255, 255); */
    z-index: 1;
    border-radius: 20px;
    height: 1000px;
  }
  
  .gallery-box{
    height: 480px;

  }

  .gallery-box h1 {
    font-size: 32px;
    line-height: 1.1;
    margin-top: -20px;
    margin-left: 45px;
  }
  
}
